/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }

/* ======================
===== custom styles =====
====================== */

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.content {
	box-sizing: border-box;
	padding: 0 15px;
	width: 970px;
	margin: 0 auto;
}

/* very modern clearfix wrapper */
.clearfix::after {
	clear: both;
	display: table;
	content: " ";
}

.lead {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.75;
	margin-bottom: 22px;
}

button {
	padding: 16px 26px;
	font-size: 18px;
	color: #fff;
	background-color: #f15a29;
	border-color: #f15a29;
	line-height: 1.33;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	text-shadow: none;
	transition: all 200ms ease;
}
button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
}

/* ======================
== navigation section ===
====================== */

.top-navigation {
	background-color: #fff;
	position: fixed;
	top: 0;
	z-index: 15;
	width: 100%;
}
.top-navigation > .content {
	height: 70px;
}

.top-navigation .logo {
	/* I refuse to use inline styles unless it is necessary */
	width: 26px;
	height: 70px;
}

.top-navigation .links {
	float: right;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333;
}

/* ======================
=== introduction area ===
====================== */

.introduction {
	background: url(../img/first-background.jpg) 0 bottom no-repeat;
	background-size: cover;
	height: 450px;
	max-width: 100%;
	padding: 18px;
	margin-top: 70px;
}
.introduction h1 {
	color: #fff;
	font-weight: 300;
	text-align: center;
	font-size: 50px;
	margin: 35px 0 18px 0;
	line-height: 1.25;
}
.introduction h3 {
	color: #fff;
	font-weight: 300;
	text-align: center;
	font-size: 24px;
	margin: 18px 0;
	line-height: 1.25;
}
.introduction .buttons {
	text-align: center;
	margin-top: 34px;
}
.introduction .half {
	display: inline-block;
	margin: 0 10px;
}

.introduction .watch {
	vertical-align: -55%;
}
.introduction .watch img {
	width: 35px;
	height: 35px;
}

/* animation */
.introduction .learnmore {
	position: relative;
	width: 150px;
	height: 210px;
	margin: 0 auto;
}
.introduction .learnmore .arrow {
	-webkit-animation: arrow-ani 6s infinite;
	-moz-animation: arrow-ani 6s infinite;
	-o-animation: arrow-ani 6s infinite;
	animation: arrow-ani 6s infinite;
	position: absolute;
	right: 50%;
	left: 50%;
	bottom: 0;
	width: 85px;
	height: 30px;
}
@-webkit-keyframes arrow-ani {
	0%   {bottom: 10px; opacity: 100%;}
	50%  {bottom: 40px; opacity: 80%;}
	100% {bottom: 10px; opacity: 100%;}
}
@-moz-keyframes arrow-ani {
	0%   {top: 10px; opacity: 100%;}
	50%  {top: 40px; opacity: 80%;}
	100% {top: 10px; opacity: 100%;}
}
@-o-keyframes arrow-ani {
	0%   {top: 10px; opacity: 100%;}
	50%  {top: 40px; opacity: 80%;}
	100% {top: 10px; opacity: 100%;}
}
@keyframes arrow-ani {
	0%   {top: 10px; opacity: 100%;}
	50%  {top: 40px; opacity: 80%;}
	100% {top: 10px; opacity: 100%;}
}

/* ======================
========= cases =========
====================== */

.cases {
	padding: 126px 0;
}
.cases h2 {
	font-size: 44px;
	margin: 18px 0;
	font-weight: 300;
	text-align: center;
	letter-spacing: -0.02em;
}
.cases h3 {
	font-size: 24px;
	margin: 18px 0;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: -0.02em;
}
.cases .lead {
	font-size: 18px;
	margin: 18px 0 21px 0;
	font-weight: 300;
	letter-spacing: -0.02em;
}

.cases .devices {
	width: 33.333333%;
	float: left;
	box-sizing: border-box;
	text-align: center;
	padding: 0 15px;
}
.cases .devices img {
	width: 127px;
	height: 127px;
	margin: 40px 0;
}

/* ======================
======= buy now =========
====================== */

.buy-karma {
	background: url(../img/buy-now-bg.jpg) 0 0 no-repeat;
	background-size: cover;
	height: 780px;
}
.buy-karma .content {
	padding: 126px 0;
}
.buy-karma aside {
	width: 300px;
}
.buy-karma h3 {
	font-size: 24px;
	color: #f15a29;
	letter-spacing: -0.02em;
	font-weight: 400;
	margin-top: 18px;
	margin-bottom: 18px;
}

/* ======================
======== footer =========
====================== */

.social .links {
	width: 65%;
	margin: auto;
}
.social .links > li {
	float: left;
	width: 33.333%;
	text-align: left;
}
.social .links > li:first-child {
	font-weight: 500;
	margin-bottom: 12px;
}
.social .links > li li {
	padding-bottom: 12px;
}
.social .links a {
	text-decoration: none;
	color: #bbb;
	font-weight: 300;
}

.social .content {
	text-align: center;
	padding: 85px 0;
}
.social hr {
	margin: 21px 0;
	border-top: 1px solid #fefefe;
}
.social .icons {
	display: inline-block;
	margin-bottom: 15px;
}
.social .icons li {
	display: inline-block;
	text-align: center;
	padding: 0 5px;
}
.social .icons li:first-child {
	display: block;
	font-weight: 500;
	margin-bottom: 12px;
}
.social .icons a {
	display: block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	border: 1px solid #ccc;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.fa-twitter {color: #55acee}
.fa-facebook {color: #4c66a4;}
.fa-instagram {color: #3f729b;}

.social .copy {
	color: #ccc;
}